@charset "UTF-8";
@import "../font/font.css";


/****** reset *****************************************************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
	margin: 0; padding: 0; border: 0; box-sizing: border-box; font-size: 100%; font: inherit; vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
button {border: none; background: none; padding: 0; cursor: pointer;}
i {font-size:1rem;}
a {display: inline-block; cursor: pointer;}
img {width: 100%;}
strong {font-weight: 600;}
.list_controller > div {cursor: pointer;}



/****** 공통 폰트 설정  *****************************************************************************************************/
html {font-size: 16px !important;}
h1, h2, h3, h4, h5, h6, ul, ol, dl, div, dd, dt, li, p, a, fieldset, form, label, legend, input[type=file]::file-selector-button, 
table, caption, tbody, tfoot, thead, tr, th, td, button, input, select, option, textarea {
	font-family:"NotoSans","Noto Sans KR","맑은 고딕","Malgun Gothic","돋움",Dotum,sans-serif; font-size:1rem; font-weight:400; line-height:1.5; color:#000; letter-spacing:-1px; text-decoration: none; word-break: keep-all;
}



/****** 공통 애니메이션  *****************************************************************************************************/
* {transition:all 0.2s ease; -webkit-transition:all 0.2s ease;}
/* Rotate */
.ani_rotate {animation: rotateInfinite 24s linear infinite; animation-play-state: running;}
@keyframes rotateInfinite {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}



/****** 공통 input *****************************************************************************************************/
input, textarea, select {outline-color: #4f2700;}
input::placeholder, textarea::placeholder {color: #b6b6b6;}
textarea {width: 100%; min-height: 14rem; padding: 1rem 1.5rem; border-radius: .75rem; border: 1px solid #ddd; box-sizing: border-box;}
select, input[type="text"], input[type="date"], input[type="month"], input[type="password"], input[type="email"], input[type="number"] {
	height: 3.375rem; padding: 0 1.5rem; position: relative; border-radius: .75rem; border: 1px solid #ccc; color: #444;
}
input[type="date"]::-webkit-calendar-picker-indicator, input[type="date"]::-webkit-inner-spin-button, input[type="month"]::-webkit-calendar-picker-indicator, input[type="month"]::-webkit-inner-spin-button {opacity: 0;}
input[type='date'], input[type="month"] {background: url('../images/icon_date.svg') no-repeat right 1.5rem center; background-color: #fff; background-size: 18px; position: relative;}
input[type='date']::after {content: ''; display: block; width: 1rem; height: 90%; background-color: #fff; position: absolute; top: 2px; right: 2px; border-radius: 0 .75rem .75rem 0;}
input[type="month"]::after {content: ''; display: block; width: 1rem; height: 90%; background-color: #fff; position: absolute; top: 2px; right: 2px; border-radius: 0 .75rem .75rem 0;}

/* select */
select {
	width: 100%; padding: 0 1.5rem; white-space: nowrap; background: url(../images/icon_select.svg) no-repeat right 1rem center;
	background-size: 0.875rem; background-color: #fff; -webkit-appearance: none; -moz-appearance: none; appearance: none;
}
select::-ms-expand{display:none; /*for IE10,11*/}

/* checkbox */
input[type="checkbox"] {display:none;}
input[type="checkbox"] + label::before {
	content: ''; display:inline-block; width:1.625rem; height:1.625rem; margin-right: .75rem; cursor:pointer; 
	vertical-align:middle; border: 1px solid #ddd; border-radius: 3px; background-size: 1.625rem; overflow: hidden; 
}
input[type="checkbox"]:checked + label::before {background: url(../images/checkbox_check.svg) center no-repeat;}

/* ------ screen 425px ------------------------------------- */
@media screen and (max-width: 426px) {
	select, input[type="text"], input[type="date"], input[type="password"], input[type="email"], input[type="number"] {padding: 0 1rem;}
	textarea {padding: .625rem 1rem;}
}



/****** 공통 사이즈 *****************************************************************************************************/
body {position: relative; width: 100%;}
.container {position: relative; overflow: hidden; width: 100%; max-width: 1300px; margin: 0 auto; padding: 0 1rem;}



/****** 공통 스크롤 *****************************************************************************************************/
::-webkit-scrollbar {width: 8px; height: 8px; -webkit-border-radius: 8px; border-radius: 8px; border: 3px solid #fff; -webkit-border-radius: 10px;}
::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(0, 0, 0, 0.2); -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);}
::-webkit-scrollbar-track {background: #efefef; -webkit-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);}



/****** 공통 POPUP *****************************************************************************************************/
.POPUP, .POPCOM, .POPPRM {position: fixed; z-index: 1000; inset: 0; display: none; justify-content: center; align-items: center;}
.POPUP .pop_wrap, .POPCOM .pop_wrap, .POPPRM .pop_wrap {
	position: relative; row-gap: 1rem; padding: 4rem; border-radius: 3.25rem; background: #fff; display: flex; justify-content: center;
	align-items: center; flex-direction: column; width: 95%; height: 90%; max-width: 1012px; max-height: 945px;
}
.POPUP .com_wrap, .POPCOM .com_wrap, .POPPRM .com_wrap {position: relative;padding: 3rem 2rem;border-radius: 3.25rem;background: #fff;display: flex;justify-content: center;align-items: center;flex-direction: column;width: 90%;max-width: 500px;text-align: center; } 
.POPUP .com_wrap img, .POPCOM .com_wrap img, .POPPRM .com_wrap img {width: 16rem; } 
.POPUP .com_wrap .txt, .POPCOM .com_wrap .txt, .POPPRM .com_wrap .txt {margin-bottom: .5rem;font-size: 1.25rem;font-weight: 700;letter-spacing: 10px; } 
.POPUP .com_wrap .tit p, .POPCOM .com_wrap .tit p, .POPPRM .com_wrap .tit p {font-family: "Poppins";font-weight: 900;line-height: 1;letter-spacing: 1px;font-style: italic; } 
.POPUP .com_wrap .tit .tit_com, .POPCOM .com_wrap .tit .tit_com, .POPPRM .com_wrap .tit .tit_com {font-size: 4rem;color: #af2d2d;margin-left: -3.75rem;margin-bottom: -.75rem; } 
.POPUP .com_wrap .tit .tit_soon, .POPCOM .com_wrap .tit .tit_soon, .POPPRM .com_wrap .tit .tit_soon {font-size: 4.5rem;color: #2f1405;margin-left: 5rem; } 
.POPUP .pop_con, .POPCOM .pop_con, .POPPRM .pop_con {width: 100%; } 
.POPUP .btn_popclose, .POPCOM .btn_popclose, .POPPRM .btn_popclose {position: absolute;top: 3.125rem;right: 3.25rem;z-index: 1; } 
.POPUP .pop_dim, .POPCOM .pop_dim, .POPPRM .pop_dim {position: fixed;z-index: -1;inset: 0;width: 100%;height: 100vh;background: rgba(0, 0, 0, 0.5); } 
.POPUP .QrTitle, .POPCOM .QrTitle, .POPPRM .QrTitle {padding: 1rem 0 1.5rem;display: flex;justify-content: center;column-gap: 1.5rem;flex-wrap: wrap; } 
.POPUP .QrTitle .QrTitle_list, .POPCOM .QrTitle .QrTitle_list, .POPPRM .QrTitle .QrTitle_list {font-size: 1.125rem;font-weight: bold; } 
.POPUP .QrTitle span, .POPCOM .QrTitle span, .POPPRM .QrTitle span {color: #888;margin-right: 5px; } 
.POPUP .QrSTitle, .POPCOM .QrSTitle, .POPPRM .QrSTitle {padding: 2rem 0 .75rem; } 
.POPUP .QrSTitle .W_Qrtxt, .POPUP .QrSTitle .M_Qrtxt, .POPCOM .QrSTitle .W_Qrtxt, .POPCOM .QrSTitle .M_Qrtxt, .POPPRM .QrSTitle .W_Qrtxt, .POPPRM .QrSTitle .M_Qrtxt {font-size: 1.2rem;color: #e91010;font-weight: bold; } 
.POPUP .QrSTitle span, .POPCOM .QrSTitle span, .POPPRM .QrSTitle span {font-size: 1rem;color: #000; } 
.POPUP .QRImgBox, .POPCOM .QRImgBox, .POPPRM .QRImgBox {display: flex;justify-content: center;gap: 1rem; } 
.POPUP .QrBox, .POPCOM .QrBox, .POPPRM .QrBox {padding: 1rem;border-radius: 10px;width: 40%; } 
.POPUP .QrBox:first-child, .POPCOM .QrBox:first-child, .POPPRM .QrBox:first-child {background: #fdc300; } 
.POPUP .QrBox:last-child, .POPCOM .QrBox:last-child, .POPPRM .QrBox:last-child {background: #fdc300; } 
.POPUP .QrBox span, .POPCOM .QrBox span, .POPPRM .QrBox span {font-weight: bold; } 
.POPUP .QrBox img, .POPCOM .QrBox img, .POPPRM .QrBox img {width: 100%; } 
.POPUP .QrStores, .POPCOM .QrStores, .POPPRM .QrStores {display: flex;flex-direction: column;padding-top: 1rem;gap: 5px; } 
.POPUP .QrStores a, .POPCOM .QrStores a, .POPPRM .QrStores a {width: 100%;display: inline-block; } 
.POPUP.active, .POPCOM.active, .POPPRM.active {display: flex; } 
.POPCOM .btn_popclose {background: #000;border-radius: 50%;padding: 4px;top: 2.125rem;right: 2.25rem; } 
.POPCOM .btn_popclose svg {scale: .8; } 
.POPPRM .btn_popclose {background: #000;border-radius: 50%;padding: 4px;top: 2.125rem;right: 2.25rem; } 
.POPPRM .btn_popclose svg {scale: .8; } 
.POPJOIN {position: fixed;z-index: 1000;inset: 0;display: none;justify-content: center;align-items: center; } 
.POPJOIN .com_wrap {display: flex;justify-content: center;align-items: center;flex-direction: column;width: 90%;max-width: 500px;position: relative;padding: 5.5rem 2rem;border-radius: 3.25rem;background: #fff;text-align: center; } 
.POPJOIN .com_wrap img {width: 4rem; } 
.POPJOIN .com_wrap .tit {margin-top: 1.5rem;font-weight: 500;font-size: 2.125rem; } 
.POPJOIN .com_wrap .tit strong {font-weight: 700; } 
.POPJOIN .com_wrap .txt {margin-top: .5rem;font-size: 1.125rem;color: #999; } 
.POPJOIN .pop_con {width: 100%; } 
.POPJOIN .btn_popclose {position: absolute;top: 2.125rem;right: 2.25rem;z-index: 1; } 
.POPJOIN .pop_dim {position: fixed;z-index: -1;inset: 0;width: 100%;height: 100vh;background: rgba(0, 0, 0, 0.5); } 
.POPJOIN.active {display: flex; } 

/* ------ screen 580px ------------------------------------- */
@media screen and (max-width: 581px) {.POPPRM .QrSTitle .W_Qrtxt {display: none; } 
	.POPPRM .QrSTitle .M_Qrtxt {display: block !important; } 
	.POPPRM .QRImgBox {display: none; } 
	.POPPRM .QrStores {display: flex !important; } 
}

/* ------ screen 425px ------------------------------------- */
@media screen and (max-width: 426px) {.POPCOM .com_wrap img {width: 14rem; } 
	.POPCOM .com_wrap .tit .tit_com {font-size: 3.5rem; } 
	.POPCOM .com_wrap .tit .tit_soon {font-size: 4rem; } 
}



/****** NODATA *****************************************************************************************************/
.NODATA {display: flex;justify-content: center;align-items: center;width: 100%;min-height: 20rem; } 
.NODATA div {text-align: center; } 
.NODATA img {margin-bottom: 1rem;width: 5rem; } 
.NODATA p {font-weight: 600;font-size: 1.375rem;color: #ccc; } 
.NODATA_tb {width: 100%;padding: 4rem 0; } 
.NODATA_tb div {text-align: center; } 
.NODATA_tb img {margin-bottom: 1rem;width: 5rem; } 
.NODATA_tb p {font-weight: 600;font-size: 1.375rem;color: #ccc; } 
.NODATA_news {text-align: center; } 
.NODATA_news div {text-align: center; } 
.NODATA_news img {margin-bottom: .5rem;width: 4rem; } 
.NODATA_news p {font-weight: 600;font-size: 1.25rem;color: #ccc; } 



/****** ERROR *****************************************************************************************************/
.error_wrap {height: 100vh; } 
.error_wrap .container {height: 100%; } 
.error_logo {position: fixed;display: flex;align-items: center;gap: 1rem;width: 100%;padding: 1.5rem; } 
.error_logo img {width: 110px; } 
.error_logo .line {width: 100%;height: 0.3px;background-color: #d1d1d1; } 
.error_con {text-align: center; } 
.error_con .error_tit {margin-bottom: 1rem;font-size: 2.25rem;font-weight: 800;line-height: 1.3; } 
.error_con .error_txt {margin-bottom: 3rem;font-size: 1.125rem; } 
.error_con .btn_error {display: inline-block;padding: .9rem 3.5rem;background: #fdc300;border-radius: 5px;font-weight: 600;font-size: 1.125rem;color: #fff; } 



/****** list_mask *****************************************************************************************************/
.list_mask_prev {width: 2rem;display: none;position: absolute;top: 1px;bottom: 1px;left: -.75rem;z-index: 2;background-image: linear-gradient(90deg, white 0%, transparent 100%); } 
.list_mask_next {width: 2.5rem;display: none;position: absolute;top: 1px;bottom: 1px;right: 0;z-index: 1;background-image: linear-gradient(90deg, transparent 0%, white 100%); } 

/* ------ screen 1280px ------------------------------------- */
@media screen and (max-width: 1281px) {
	.list_mask_prev, .list_mask_next {display: block; } 
}



/****** 공용 class *****************************************************************************************************/
.blind {border: 0 !important;clip: rect(1px, 1px, 1px, 1px) !important;-webkit-clip-path: inset(50%) !important;clip-path: inset(50%) !important;height: 1px !important;overflow: hidden !important;padding: 0 !important;position: absolute !important;width: 1px !important;white-space: nowrap !important; } 
.hidden { display: none !important; } 
#skipNav {position: absolute; top: -1000px; left: 0; z-index: 999;width: 100%; height: 0; line-height: 0; font-size: 0; } 
.fl { float: left; } 
.cf::after { content: ' '; display: block; clear: both; } 

/* body 스크롤 비활성화 */
body.no-scroll {height:100%; min-height:100%; overflow:hidden !important; touch-action:none; } 

/* 포인트 컬러 */
.color_brown		{color: #9e6d6d !important;}
.color_yellow		{color: #f8c836 !important;}
.color_red			{color: #af2d2d !important;}

/* 폰트 굵기 */
.ftw300 			{font-weight: 300;} /* Light */
.ftw700 			{font-weight: 700;} /* Bold */
.ftw900 			{font-weight: 900;} /* Black */

/* 폰트 패밀리 */
.Poppins			{font-family: Poppins; font-weight: 700;}
.NotoSans			{font-family: NotoSans;}
.NanumSq			{font-family: NanumSquare;}

/* 텍스트 정렬 */
.tr					{text-align: right !important;}
.tl					{text-align: left !important;}
.tc					{text-align: center !important;}

/* 플렉스 */
.flex				{display: flex !important;}
.flex_C				{display: flex; align-items: center;}
.flexEnd			{display: flex; justify-content: flex-end;}
.flexEnd_C			{display: flex; justify-content: flex-end; align-items: center;}
.flexC				{display: flex; justify-content:center; align-items: center;}
.flexCol			{display: flex; flex-direction: column; align-items: flex-start;}
.flexCol_end		{display: flex; flex-direction: column; align-items: flex-end;}
.flexCol_C			{display: flex; flex-direction: column; justify-content:center; align-items: center;}
.flexCol_SB			{display: flex; flex-direction: column; justify-content: space-between;}
.flexSB				{display: flex; justify-content:space-between;}
.flexSB_C 			{display: flex; justify-content:space-between; align-items: center;}
.flexSB_start		{display: flex; justify-content: space-between; align-items: flex-start;}

.gap05				{gap: .5rem;}
.gap1				{gap: 1rem;}
.gap2				{gap: 2rem;}
.gap3				{gap: 3rem;}
.gap4				{gap: 4rem;}
.gap5				{gap: 5rem;}

/* 가로 % 사이즈 */
.col_w1				{width:1% !important;}
.col_w2				{width:2% !important;}
.col_w3				{width:3% !important;}
.col_w4				{width:4% !important;}
.col_w5				{width:5% !important;}
.col_w6				{width:6% !important;}
.col_w7				{width:7% !important;}
.col_w8				{width:8% !important;}
.col_w9				{width:9% !important;}
.col_w10			{width:10% !important;}
.col_w11			{width:11% !important;}
.col_w12			{width:12% !important;}
.col_w13			{width:13% !important;}
.col_w14			{width:14% !important;}
.col_w15			{width:15% !important;}
.col_w16			{width:16% !important;}
.col_w17			{width:17% !important;}
.col_w18			{width:18% !important;}
.col_w19			{width:19% !important;}
.col_w20			{width:20% !important;}
.col_w21			{width:21% !important;}
.col_w22			{width:22% !important;}
.col_w23			{width:23% !important;}
.col_w24			{width:24% !important;}
.col_w25			{width:25% !important;}
.col_w26			{width:26% !important;}
.col_w27			{width:27% !important;}
.col_w28			{width:28% !important;}
.col_w29			{width:29% !important;}
.col_w30			{width:30% !important;}
.col_w31			{width:31% !important;}
.col_w32			{width:32% !important;}
.col_w33			{width:33% !important;}
.col_w34			{width:34% !important;}
.col_w35			{width:35% !important;}
.col_w36			{width:36% !important;}
.col_w37			{width:37% !important;}
.col_w38			{width:38% !important;}
.col_w39			{width:39% !important;}
.col_w40			{width:40% !important}
.col_w41			{width:41% !important;}
.col_w42			{width:42% !important;}
.col_w43			{width:43% !important;}
.col_w44			{width:44% !important;}
.col_w45			{width:45% !important;}
.col_w46			{width:46% !important;}
.col_w47			{width:47% !important;}
.col_w48			{width:48% !important;}
.col_w49			{width:49% !important;}
.col_w50			{width:50% !important;}
.col_w51			{width:51% !important;}
.col_w52			{width:52% !important;}
.col_w53			{width:53% !important;}
.col_w54			{width:54% !important;}
.col_w55			{width:55% !important;}
.col_w56			{width:56% !important;}
.col_w57			{width:57% !important;}
.col_w58			{width:58% !important;}
.col_w59			{width:59% !important;}
.col_w60			{width:60% !important;}
.col_w61			{width:61% !important;}
.col_w62			{width:62% !important;}
.col_w63			{width:63% !important;}
.col_w64			{width:64% !important;}
.col_w65			{width:65% !important;}
.col_w66			{width:66% !important;}
.col_w67			{width:67% !important;}
.col_w68			{width:68% !important;}
.col_w69			{width:69% !important;}
.col_w70			{width:70% !important;}
.col_w71			{width:71% !important;}
.col_w72			{width:72% !important;}
.col_w73			{width:73% !important;}
.col_w74			{width:74% !important;}
.col_w75			{width:75% !important;}
.col_w76			{width:76% !important;}
.col_w77			{width:77% !important;}
.col_w78			{width:78% !important;}
.col_w79			{width:79% !important;}
.col_w80			{width:80% !important;}
.col_w81			{width:81% !important;}
.col_w82			{width:82% !important;}
.col_w83			{width:83% !important;}
.col_w84			{width:84% !important;}
.col_w85			{width:85% !important;}
.col_w86			{width:86% !important;}
.col_w87			{width:87% !important;}
.col_w88			{width:88% !important;}
.col_w89			{width:89% !important;}
.col_w90			{width:90% !important;}
.col_w91			{width:91% !important;}
.col_w92			{width:92% !important;}
.col_w93			{width:93% !important;}
.col_w94			{width:94% !important;}
.col_w95			{width:95% !important;}
.col_w96			{width:96% !important;}
.col_w97			{width:97% !important;}
.col_w98			{width:98% !important;}
.col_w99			{width:99% !important;}
.col_w100			{width:100% !important;}

/* 패딩 값*/
.PT1	{padding-top:1px !important;}
.PT2	{padding-top:2px !important;}
.PT3	{padding-top:3px !important;}
.PT4	{padding-top:4px !important;}
.PT5	{padding-top:5px !important;}
.PT10	{padding-top:10px !important;}
.PT15	{padding-top:15px !important;}
.PT20	{padding-top:20px !important;}
.PT25	{padding-top:25px !important;}
.PT30	{padding-top:30px !important;}
.PT35	{padding-top:35px !important;}
.PT40	{padding-top:40px !important;}
.PT45	{padding-top:45px !important;}
.PT50	{padding-top:50px !important;}
.PT55	{padding-top:55px !important;}
.PT60	{padding-top:60px !important;}
.PT65	{padding-top:65px !important;}
.PT70	{padding-top:70px !important;}
.PT75	{padding-top:75px !important;}
.PT80	{padding-top:80px !important;}
.PT85	{padding-top:85px !important;}
.PT90	{padding-top:90px !important;}
.PT95	{padding-top:95px !important;}
.PT100	{padding-top:100px !important;}

.PL1	{padding-left:1px !important;}
.PL2	{padding-left:2px !important;}
.PL3	{padding-left:3px !important;}
.PL4	{padding-left:4px !important;}
.PL5	{padding-left:5px !important;}
.PL10	{padding-left:10px !important;}
.PL15	{padding-left:15px !important;}
.PL20	{padding-left:20px !important;}
.PL25	{padding-left:25px !important;}
.PL30	{padding-left:30px !important;}
.PL35	{padding-left:35px !important;}
.PL40	{padding-left:40px !important;}
.PL45	{padding-left:45px !important;}
.PL50	{padding-left:50px !important;}
.PL55	{padding-left:55px !important;}
.PL60	{padding-left:60px !important;}
.PL65	{padding-left:65px !important;}
.PL70	{padding-left:70px !important;}
.PL75	{padding-left:75px !important;}
.PL80	{padding-left:80px !important;}
.PL85	{padding-left:85px !important;}
.PL90	{padding-left:90px !important;}
.PL95	{padding-left:95px !important;}
.PL100	{padding-left:100px !important;}

.PB10	{padding-bottom:10px !important;}
.PB15	{padding-bottom:15px !important;}	
.PB20	{padding-bottom:20px !important;}
.PB25	{padding-bottom:25px !important;}
.PB30	{padding-bottom:30px !important;}
.PB35	{padding-bottom:35px !important;}
.PB40	{padding-bottom:40px !important;}
.PB45	{padding-bottom:45px !important;}
.PB50	{padding-bottom:50px !important;}
.PB55	{padding-bottom:55px !important;}
.PB60	{padding-bottom:60px !important;}
.PB65	{padding-bottom:65px !important;}
.PB70	{padding-bottom:70px !important;}
.PB75	{padding-bottom:75px !important;}
.PB80	{padding-bottom:80px !important;}
.PB85	{padding-bottom:85px !important;}
.PB90	{padding-bottom:90px !important;}
.PB95	{padding-bottom:95px !important;}
.PB100	{padding-bottom:100px !important;}

.PR5	{padding-right:5px !important;}
.PR10	{padding-right:10px !important;}
.PR15	{padding-right:15px !important;}
.PR20	{padding-right:20px !important;}
.PR25	{padding-right:25px !important;}
.PR30	{padding-right:30px !important;}
.PR35	{padding-right:35px !important;}
.PR40	{padding-right:40px !important;}
.PR45	{padding-right:45px !important;}
.PR50	{padding-right:50px !important;}
.PR55	{padding-right:55px !important;}
.PR60	{padding-right:60px !important;}
.PR65	{padding-right:65px !important;}
.PR70	{padding-right:70px !important;}
.PR75	{padding-right:75px !important;}
.PR80	{padding-right:80px !important;}
.PR85	{padding-right:85px !important;}
.PR90	{padding-right:90px !important;}
.PR95	{padding-right:95px !important;}
.PR100	{padding-right:100px !important;}

/* 마진값 */
.MT5	{margin-top:5px !important;}
.MT10	{margin-top:10px !important;}
.MT15	{margin-top:15px !important;}
.MT20	{margin-top:20px !important;}
.MT25	{margin-top:25px !important;}
.MT30	{margin-top:30px !important;}
.MT35	{margin-top:35px !important;}
.MT40	{margin-top:40px !important;}
.MT45	{margin-top:45px !important;}
.MT50	{margin-top:50px !important;}
.MT55	{margin-top:55px !important;}
.MT60	{margin-top:60px !important;}
.MT65	{margin-top:65px !important;}
.MT70	{margin-top:70px !important;}
.MT75	{margin-top:75px !important;}
.MT80	{margin-top:80px !important;}
.MT85	{margin-top:85px !important;}
.MT90	{margin-top:90px !important;}
.MT95	{margin-top:95px !important;}
.MT100	{margin-top:100px !important;}
.MTREM1 {margin-top:1rem;}
.MTREM2 {margin-top:2rem;}
.MTREM3 {margin-top:3rem;}
.MTREM4 {margin-top:4rem;}
.MTREM5 {margin-top:5rem;}
.MTREM6 {margin-top:6rem;}
.MTREM7 {margin-top:7rem;}
.MTREM8 {margin-top:8rem;}
.MTREM9 {margin-top:9rem;}
.MTREM10 {margin-top:10rem;}

.MTM10	{margin-top:-10px !important;}
.MTM15	{margin-top:-15px !important;}
.MTM20	{margin-top:-20px !important;}
.MTM25	{margin-top:-25px !important;}
.MTM30	{margin-top:-30px !important;}
.MTM35	{margin-top:-35px !important;}
.MTM40	{margin-top:-40px !important;}
.MTM45	{margin-top:-45px !important;}
.MTM50	{margin-top:-50px !important;}
.MTM55	{margin-top:-55px !important;}
.MTM60	{margin-top:-60px !important;}
.MTM65	{margin-top:-65px !important;}
.MTM70	{margin-top:-70px !important;}
.MTM75	{margin-top:-75px !important;}
.MTM80	{margin-top:-80px !important;}
.MTM85	{margin-top:-85px !important;}
.MTM90	{margin-top:-90px !important;}
.MTM95	{margin-top:-95px !important;}
.MTM100 {margin-top:-100px !important;}
.MTM200 {margin-top:-200px !important;}
.MTM300 {margin-top:-300px !important;}
.MTM400 {margin-top:-400px !important;}
.MTM500 {margin-top:-500px !important;}
.MTM700 {margin-top:-700px !important;}

.ML5	{margin-left:5px !important;}
.ML10	{margin-left:10px !important;}
.ML15	{margin-left:15px !important;}
.ML20	{margin-left:20px !important;}
.ML25	{margin-left:25px !important;}
.ML30	{margin-left:30px !important;}
.ML35	{margin-left:35px !important;}
.ML40	{margin-left:40px !important;}
.ML45	{margin-left:45px !important;}
.ML50	{margin-left:50px !important;}
.ML55	{margin-left:55px !important;}
.ML60	{margin-left:60px !important;}
.ML65	{margin-left:65px !important;}
.ML70	{margin-left:70px !important;}
.ML75	{margin-left:75px !important;}
.ML80	{margin-left:80px !important;}
.ML85	{margin-left:85px !important;}
.ML90	{margin-left:90px !important;}
.ML95	{margin-left:95px !important;}
.ML100	{margin-left:100px !important;}
.MLREM1 {margin-left:1rem;}
.MLREM2 {margin-left:2rem;}
.MLREM3 {margin-left:3rem;}
.MLREM4 {margin-left:4rem;}
.MLREM5 {margin-left:5rem;}
.MLREM6 {margin-left:6rem;}
.MLREM7 {margin-left:7rem;}
.MLREM8 {margin-left:8rem;}
.MLREM9 {margin-left:9rem;}
.MLREM10 {margin-left:10rem;}

.MB10	{margin-bottom:10px !important;}
.MB15	{margin-bottom:15px !important;}
.MB20	{margin-bottom:20px !important;}
.MB25	{margin-bottom:25px !important;}
.MB30	{margin-bottom:30px !important;}
.MB35	{margin-bottom:35px !important;}
.MB40	{margin-bottom:40px !important;}
.MB45	{margin-bottom:45px !important;}
.MB50	{margin-bottom:50px !important;}
.MB55	{margin-bottom:55px !important;}
.MB60	{margin-bottom:60px !important;}
.MB65	{margin-bottom:65px !important;}
.MB70	{margin-bottom:70px !important;}
.MB75	{margin-bottom:75px !important;}
.MB80	{margin-bottom:80px !important;}
.MB85	{margin-bottom:85px !important;}
.MB90	{margin-bottom:90px !important;}
.MB95	{margin-bottom:95px !important;}
.MB100	{margin-bottom:100px !important;}
.MBREM1 {margin-bottom:1rem;}
.MBREM2 {margin-bottom:2rem;}
.MBREM3 {margin-bottom:3rem;}
.MBREM4 {margin-bottom:4rem;}
.MBREM5 {margin-bottom:5rem;}
.MBREM6 {margin-bottom:6rem;}
.MBREM7 {margin-bottom:7rem;}
.MBREM8 {margin-bottom:8rem;}
.MBREM9 {margin-bottom:9rem;}
.MBREM10 {margin-bottom:10rem;}

.MR5	{margin-right:5px !important;}
.MR10	{margin-right:10px !important;}
.MR15	{margin-right:15px !important;}
.MR20	{margin-right:20px !important;}
.MR25	{margin-right:25px !important;}
.MR30	{margin-right:30px !important;}
.MR35	{margin-right:35px !important;}
.MR40	{margin-right:40px !important;}
.MR45	{margin-right:45px !important;}
.MR50	{margin-right:50px !important;}
.MR55	{margin-right:55px !important;}
.MR60	{margin-right:60px !important;}
.MR65	{margin-right:65px !important;}
.MR70	{margin-right:70px !important;}
.MR75	{margin-right:75px !important;}
.MR80	{margin-right:80px !important;}
.MR85	{margin-right:85px !important;}
.MR90	{margin-right:90px !important;}
.MR95	{margin-right:95px !important;}
.MR100	{margin-right:100px !important;}
.MRREM1 {margin-right:1rem;}
.MRREM2 {margin-right:2rem;}
.MRREM3 {margin-right:3rem;}
.MRREM4 {margin-right:4rem;}
.MRREM5 {margin-right:5rem;}
.MRREM6 {margin-right:6rem;}
.MRREM7 {margin-right:7rem;}
.MRREM8 {margin-right:8rem;}
.MRREM9 {margin-right:9rem;}
.MRREM10 {margin-right:10rem;}